<h1>Listing personas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Bio</th>
    <th>Activo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @personas.each do |persona| %>
  <tr>
    <td><%= persona.nombre %></td>
    <td><%= persona.apellido %></td>
    <td><%= persona.bio %></td>
    <td><%= persona.activo %></td>
    <td><%= link_to 'Mostrar', persona %></td>
    <td><%= link_to 'Editar', edit_persona_path(persona) %></td>
    <td><%= link_to 'Borrar', persona, :confirm => 'Estas seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Persona', new_persona_path %>
